body {
    background-image: url("https://d1hr6nb56yyl1.cloudfront.net/product-images/99803-560.jpg");
    background-size: cover;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 30px;
}

.btn {
    display: grid;
    border: solid 1px black;
    width: 20vw;
}